# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/Samples/Graffiti.Samples.Windows.XNA.Quake3Shader/.gitignore
*.suo
*.userprefs
.DS_Store
/Samples/Graffiti.Samples.Android.MonoGame.Halloween/*.apk
